<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to my blog</title>
</head>
<body>
    <h1>欢迎光临我的博客</h1>
    <hr>
    {% for post in posts %}
        <a href="/post/{{ post.slug }}"> {{ post.title }}"</a>
    {% endfor %}
    <hr>
    <h3>现在的时间： {{ now }}</h3>
</body>
</html>