<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to my blog</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <hr>
    <p>
        {{ post.body }}
    </p>
    <hr>
    <h3><a href="/" >回首页</a> </h3>
</body>
</html>